<style>
  /* over write some style of dropdown plugin */
  .dropotron {
    border-radius: 0.5em;
    margin: 0;
    min-width: 5em;
    min-height: 5em;
    padding: 0;
  }
</style>
<div id="footer">
  <div class="container">

    <div class="row">
      <div class="12u">
        <!-- Contact -->
        <section class="contact">
          <header>
            <h3>Nisl turpis nascetur interdum?</h3>
          </header>
          <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
          <ul class="icons">
            <li><a href="https://github.com/taoning2014" class="icon fa-github"><span class="label">Github</span></a>
            </li>
            <li><a href="https://www.linkedin.com/in/tao-ning-26096055" class="icon fa-linkedin"><span class="label">Linkedin</span></a>
            </li>
            <li><a href="http://stackoverflow.com/users/4879135/tao" class="icon fa-stack-overflow"><span class="label">Stackoverflow</span></a>
            </li>
            <li><a href="https://www.facebook.com/profile.php?id=100002072741784" class="icon fa-facebook"><span
                    class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-weixin"><span class="label">Weixin</span></a>
              <ul>
                <li><img src="images/wechat-1.png" style="max-width: 150px; float: left;"></li>
              </ul>
            </li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</div>

<script>
  $(function() {
    $('.icons').dropotron({
      expandMode: 'click',    // Expansion mode ("hover" or "click")
      hoverDelay: 150,        // Hover delay (in ms)
      hideDelay: 450,        // Hide delay (in ms; 0 disables)
      alignment: 'center',     // Alignment ("left", "center", "right")
      globalOffsetY: -20          // Global offset Y
    });
  });
</script>
